{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block css %}
  <link href="{% static 'css/custom-style.css'%}" rel="stylesheet">
{% endblock %}

{% block body %}
<br/><br/>
<a class="btn btn-lg btn-primary" href="{% url 'index' %}">Return</a>
<div style="text-align: right; margin-right: 50px"><a class="btn btn-lg btn-primary" href="{% url 'export' %}">Export</a></div>
<h1 style="margin-left: 20px;">Display Results:</h1>

<br/>
<div class="row" style="margin-left: 20px;margin-right: 20px">
    <div class="col-1"><b>Filename</b></div>
    <div class="col-1"><b>Keyword</b></div>
    <div class="col-10"><b>Content</b></div>
</div>
{% for result in results %}
    <div class="row" style="margin-left: 20px;margin-right: 20px">
        <div class="col-1" style="word-wrap:break-word">{{ result.filename }}</div>
        <div class="col-1" style="word-wrap:break-word">{{ result.keyword }}</div>
        <div class="col-10" style="word-wrap:break-word">{{ result.content }}</div>
    </div>
    <hr style="margin-left: 20px;margin-right: 20px">
{% endfor %}

{% endblock %}