<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">

</head>

<body>
<br/><br/><br/>
<div style="margin-left:20px;margin-right: 50px"><a class="btn btn-lg btn-primary" href="{% url 'upload' %}">Upload</a></div>
<br/>
<div style="margin-left:20px;margin-right: 50px"><a class="btn btn-lg btn-primary" href="{% url 'search' %}">Search</a></div>
<br/>
<div style="margin-left:20px;margin-right: 50px"><a class="btn btn-lg btn-primary" href="{% url 'display' %}">Display</a></div>
<br/>
<div style="margin-left:20px;margin-right: 50px"><a class="btn btn-lg btn-primary" href="{% url 'export' %}">Export</a></div>
<br/>
<div style="margin-left:20px;margin-right: 50px"><a class="btn btn-lg btn-primary" href="{% url 'clean' %}">Clean</a></div>
<br/>
</body>
</html>