<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="row">
    <div class="col-3">aaaa</div>
    <div class="col-6">bbbb
        <form method="post" action="{% url 'search' %}">
            <h2>Please Type in keywords:</h2>

            <label for="inputKeyword">Keyword</label>
            <input type="text" id="inputKeyword" placeholder="Keyword" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
            {% csrf_token %}
        </form>
    </div>
    <div class="col-3">cccc</div>
</div>

</body>
</html>