{% load static %}
<div id='contract-temp-{{ contract_id }}'>
    <p>I am the contract template</p>
    <p>{{ filename }}</p>
    <p>{{ contract }}</p>
    <p>{{ title }}</p>
    <p>{{ upload_time }}</p>
    <div id='contract-comment-list-{{ contract_id }}'></div>
    <div>
        <input type='text' id='contract-comment-field-{{ contract_id }}'
               class='form-control' placeholder='Comments'
               name='comment'>
        <button name='contract-comment-button-{{ contract_id }}'
                onclick='addContractComment({{ contract_id }})'>Comment
        </button>
    </div>
</div>